@import "./Theme.scss";

.toggle-menu-button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-root {
    display: flex;
}

.toggle-menu-button:hover {
    cursor: pointer;
}

$graphic-height: 16px;
$graphic-width: 13px;

.graphic {
    content: "";
    position: absolute;
    height: $graphic-height;
    width: $graphic-width;
    border-radius: 2px;
    border: 1.5px solid $primary-color-white;
}
.graphic::before {
    content: "";
    transform: translate(3px, -8px);
    position: absolute;
    height: $graphic-height;
    width: $graphic-width;
    background-color: $menu-color;
    border-radius: 2px;
    border: 1.5px solid $primary-color-white;
}

.graphic::after {
    content: "";
    transform: translate(13px, -8px);
    position: absolute;
    height: 3px;
    width: 3px;
    border: 1.5px solid $primary-color-white;
}
.graphic .line {
    content: "";
    transform: translate(14.5px, -8.7px) rotateZ(45deg);
    position: absolute;
    height: 3px;
    width: 6px;
    z-index: 1;
    border: 1.5px solid $primary-color-white;
    border-style: none none solid none;
    background-color: $menu-color;
}

.burger-menu .content {
    display: none;
}

// Navigation menu
@media screen and (max-width: $mobile-width) {
    .toggle-menu-button {
        display: flex;
    }

    .burger-menu {
        position: absolute;
        bottom: 0;
        margin: 0px $dPadding;
        right: 0;
        width: calc(100vw - 2 * $dPadding);
        height: calc(100vh - calc(3 * $dPadding + $headerHeight));
        flex-direction: row;
        justify-content: end;
        display: none;
        background-color: transparent;
    }
    .burger-menu.show {
        display: flex;
        background-color: rgba($color: #000000, $alpha: 0.8);
    }

    .burger-menu .content {
        width: 80%;

        display: block;
        z-index: 10;
        background-color: $menu-color;
    }

    .burger-menu .content .tab {
        display: flex;
        width: 100%;
        .cross {
            display: none;
        }
        .divider {
            display: none;
        }
    }

    .burger-menu .content .tab {
        height: $burger-tab-height;
        border: 1px solid transparent;
    }
    .burger-menu .content .tab.active {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgba(255, 255, 255, 0.1);
    }    
}
