@import "./Theme.scss";
$padding: 15px;

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.nav-menu-top {
    background-color: $menu-color;
    padding: $padding;
    width: calc(100% - $padding * 2);
    border-radius: $padding $padding 0px 0px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-top-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    height: 15px;
}

.nav-menu-top-middle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $secondary-color-white;
    font-size: 13px;
}

.nav-menu-top-right {
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.dot.red {
    background-color: #ff5f57;
}

.dot.yellow {
    background-color: #fdbc2e;
}

.dot.green {
    background-color: #28c840;
}

.dot:hover{
    cursor: pointer;
}

.nav-menu-tabs-section {
    width: 100%;
    height: 35px;
    background-color: $tab-background-color;
    display: flex;
    color: white;
    flex-direction: row;
}
