@import "./Theme.scss";

.link{
    text-decoration: none;
    color: $primary-color-white;
    display: flex;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc($dPadding/2);

    .icon {
        margin-left: $dPadding;
        width: 15px;
        height: 15px;
    }

    p {
        color: $primary-color-white;
        font-size: 13px;
    }

    .cross {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .line {
            width: 2px;
            height: 10px;
            position: absolute;
            border-radius: 1px;
            display: none;
        }
        .left {
            transform: rotateZ(45deg);
        }
        .right {
            transform: rotateZ(-45deg);
        }
    }

    .divider {
        width: 1px;
        height: 100%;
        background: #000;
    }
}

// Active
.tab.active {
    background-color: $menu-color;
    border-bottom: 0.2px solid #fff;
    cursor: default;

    & .cross .line {
        background-color: $primary-color-white !important;
        display: block;
    }

    p {
        color: $primary-color-white;
    }
}

// Hover
.tab:hover {
    $hover-color: rgba(255, 255, 255, 0.15);
    background-color: $hover-color;
    cursor: pointer;

    & .cross .line {
        background-color: #717171;
        display: block;
    }
}
