//Responsive
$mobile-width: 600px;

//Colors
$menu-color: #23272f;
$tab-background-color: #1c2024;
$primary-background-color: rgb(245, 245, 240);
$primary-color-white: #d3d3d3;
$secondary-color-white: #9ea5b4;

//Padding
$dPadding: 15px;
$nav-menu-top-height: 20px;
$nav-menu-tab-height: 35px;
$burger-tab-height: 25px;

$header-height: calc(3 * $dPadding + $nav-menu-top-height);

@mixin devices($device){
    @if($device == mobile){
        @media (max-width: $mobile-width) {
            @content;
        }
    }
    @else if($device == desktop){
        @media (min-width: $mobile-width) {
            @content;
        }
    }
}
