@import "src/styles/Theme.scss";

.resume {
    .section {
        min-height: calc(100vh - ($header-height + $nav-menu-tab-height));

        @include devices(mobile) {
            height: calc(100vh - $header-height);
        }

        width: 100%;
        background-color: $menu-color;
    }
}
