@import "src/styles/Theme.scss";

.contact {
    display: grid;
    height: $section-height;
    background-color: rgb(12, 173, 95);
}

.copy {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: copy !important;
    outline: inherit;
    pointer-events: all;
}

span,
textarea,
code,
pre{
    pointer-events: none;
}
