@import "../Theme.scss";

.nav-menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: - $dPadding 0 0 - $dPadding;
    background-color: $primary-background-color;
    z-index: -1;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    user-select: none;
    position: sticky;
    top: $dPadding;
}

.nav-menu-top {
    background-color: $menu-color;
    padding: $dPadding;
    width: calc(100% - $dPadding * 2);
    border-radius: $dPadding $dPadding 0px 0px;
    height: $nav-menu-top-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-top-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    height: 15px;
}

.nav-menu-top-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $secondary-color-white;
    font-size: 13px;
}

.nav-menu-top-right {
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.dot.red {
    background-color: #ff5f57;
}

.dot.yellow {
    background-color: #fdbc2e;
}

.dot.green {
    background-color: #28c840;
}

.dot:hover {
    cursor: pointer;
}

@media screen and (max-width: $mobile-width) {
    .nav-menu-tabs-section {
        display: none !important;
    }
}

.nav-menu-tabs-section {
    width: 100%;
    height: $nav-menu-tab-height;
    background-color: $tab-background-color;
    display: flex;
    color: white;
    flex-direction: row;
}
