@import "src/styles/Theme.scss";

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: $menu-color;
}

.nav-menu-top {
    padding: 10px 16px;
    width: calc(100% - 32px);
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-menu-top-left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 8px;
    height: 12px;
}

.nav-menu-top-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $secondary-color-white;
    font-size: 12px;
    font-family: 'Source Code Pro', monospace;
}

.nav-menu-top-right {
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.dot.red {
    background-color: #ff5f57;
}

.dot.yellow {
    background-color: #fdbc2e;
}

.dot.green {
    background-color: #28c840;
}

.dot:hover {
    cursor: pointer;
}

@media screen and (max-width: $mobile-width) {
    .nav-menu-tabs-section {
        display: none !important;
    }
}

.nav-menu-tabs-section {
    width: 100%;
    height: $nav-menu-tab-height;
    background-color: $tab-background-color;
    display: flex;
    color: white;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
